@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Informatii personale";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Contul dumneavoastra contine informatiile personale pe care ni le-ati oferit. Aceasta pagina va permite sa le descarcati sau sa le stergeti.</p>
        <p>
            <strong>Stergerea informatiilor duce la eliminarea contului, iar acesta nu va mai putea fi recuperat.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Descarcare</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Stergere</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}