@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmare email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Adresa de e-mail a fost confirmata. <a asp-page="./Login">Click pentru a va conecta</a>.
</p>