@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmare cerere recuperare parola";
}

<h1>@ViewData["Title"]</h1>
<p>
    Va rugam verificati adresa de e-mail pentru link-ul de resetare a parolei.
</p>

