@page
@model LockoutModel
@{
    ViewData["Title"] = "Cont blocat";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Contul a fost blocat, va rugam incercati mai tarziu</p>
</header>
