@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmare resetare parola";
}

<h1>@ViewData["Title"]</h1>
<p>
    Parola a fost schimbata. <a asp-page="./Login">Click pentru a va conecta</a>.
</p>
